<div class="hidden" id="remoteIP" data-ip="<%= request.remote_ip %>"></div>
<%
  header = %w[Name Year Publisher]
%>
<table id="games" class="table table-bordered table-striped table-hover table-condensed">
  <tr>
    <% header.each do |s| %>
       <th><%= s %></th>
    <% end %>
  </tr>
  <% @games.each do |game| %>
  <tr>
    <td class="clickable" data-id="<%= game.id %>" data-toggle="modal"
        data-target="#gameModal"><%= game.name %></td>
    <td><%= game.publication_year %></td>
    <td><%= format_publisher(game) %></td>
  </tr>
  <% end %>
</table>
<%= will_paginate @games, renderer: BootstrapPagination::Rails %>

<%= render partial: 'game_modal' %>
