<p>Game <%= @game_name %> just received a like from a user at IP address
  <%= @ip_addr %>.  That puts the total number of likes for this game at
  <%= @num_likes %> likes.</p>

<p>Game details:</p>
<ul>
  <li><strong>Name:</strong> <%= @game_name %></li>
  <li><strong>Year:</strong> <%= @game_year %></li>
  <li><strong>Publishers:</strong> <%= @game_publishers %></li>
</ul>
